@model Employee
<div class="my-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class="my-3">
    readonly
    <input asp-for="IsActive" class="form-check" readonly />
    <label asp-for="IsActive"></label>
</div>
<div class="my-3">
    <input asp-for="IsDeleted" class="form-check" readonly />
    <label asp-for="IsDeleted"></label>
</div>
<div class="my-3">
    <label asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="CreateAt"></label>
    <input asp-for="CreateAt" class="form-control" readonly />
</div>
