@model RoleToReturnDto

<div class="my-3">
    <label asp-for="Id" class="form-label fw-semibold"></label>
    <input asp-for="Id" class="form-control form-control-lg rounded-3 shadow-sm" readonly />
</div>

<div class="my-3">
    <label asp-for="Name" class="form-label fw-semibold"></label>
    <input asp-for="Name" class="form-control form-control-lg rounded-3 shadow-sm" readonly />
</div>
