@model CreateDepartmentDto

<style>
    label {
        font-weight: 500;
        color: #1e293b;
    }

    .form-control {
        background-color: #f8fafc;
        border: 1px solid #cbd5e1;
        color: #0f172a;
        transition: 0.2s;
    }

        .form-control:focus {
            border-color: #0ea5e9;
            box-shadow: 0 0 6px rgba(14, 165, 233, 0.4);
            background-color: #ffffff;
        }

    .text-danger {
        font-size: 0.9rem;
        color: #dc2626;
    }
</style>

<div class="my-3">
    <label asp-for="Code"></label>
    <input asp-for="Code" class="form-control" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="my-3">
    <label asp-for="CreateAt"></label>
    <input asp-for="CreateAt" class="form-control" type="date" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>
</div>
