@model CreateDepartmentDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>

<br />
<br />

<form asp-action="Edit" asp-controller="Department">
    <partial name="CreateEditPartialView/createeditpartialview" />
    <br />
    <button type="submit" class="btn btn-warning">Save</button>
    <a asp-action="Index" asp-controller="Department" class="btn btn-secondary">Back to List</a>
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
