@model UserToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete User</h1>

<br />
<br />

<form asp-action="Delete" asp-controller="User">
    <partial name="Delete-Details-PartialView/_DeleteDetailsPartialView" />
    <br />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Back to List</a>
</form>
