@model UserToReturnDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>

<br />
<br />

<form asp-action="Edit" asp-controller="User" enctype="multipart/form-data">
    <partial name="Create-Edit-PartialView/_CreateEditPartialView" />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Back to List</a>
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
